* {
    font-family: 'Roboto', sans-serif;
}

.card-hide { 
    display: none;
}

.card-hide1 { 
    display: none;
}

.card-hide2 { 
    display: none;
}

.bg { 
    background-image: url("../images/backgrounds/saundarya-srinivasan-60nzTP7_hMQ-unsplash.jpg");
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
.button-circle{
    border-radius: 50%;
}

#form_name{
    color: white !important;
}
#form_email{
    color: white;
}
#form_message{
    color: white;
}


#slides{
    background-position: center;
    padding-right: 10%;
    padding-left: 10%;
}

#orders, #delivery{
    background-color: #fc8621;
}
.welcome{
    padding-top:;
}
.text-1{
    color: #23120b;
    font-size: 20px;
    font-weight: bold;
}
.header{
    font-weight: bolder;
}

/* 
.carousel-inner > .carousel.item > img {
    width:640px;
    height:360px;
  } */

/* media responsive */

/* Default styles first then media queries */
@media screen and (min-width: 400px)  {...}
@media screen and (min-width: 600px)  {...}
@media screen and (min-width: 1000px) {...}
@media screen and (min-width: 1400px) {...}




