* {
    font-family: 'Roboto', sans-serif;
}

.card-hide { 
    display: none;
}

.card-hide1 { 
    display: none;
}

.card-hide2 { 
    display: none;
}

.bg { 
    background-image: url("../images/backgrounds/saundarya-srinivasan-60nzTP7_hMQ-unsplash.jpg");
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
.button-circle{
    border-radius: 50%;
}

#form_name{
    color: white !important;
}
#form_email{
    color: white;
}
#form_message{
    color: white;
}


#slides{
    background-position: center;
    padding-right: 10%;
    padding-left: 10%;
}

#orders, #delivery{
    background-color: #fc8621;
}

.text-1{
    color: white;
    font-size: 22px;
    font-weight: bold;
}
.header{
    font-weight: bolder; 
    font-size: 60px;
}
.text-top{
    top: 60;
    bottom: 40;
}

/* 
.carousel-inner > .carousel.item > img {
    width:640px;
    height:360px;
  } */

/* media responsive */






